.sports-header-stick {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; 

}

.sports-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.betslip {
  position: sticky;
  top: 10px;
  align-self: flex-start;
  width: 300px;
  flex-shrink: 0;
  height: fit-content;
}

@media (max-width: 1024px) {
  .sports-container {
    flex-direction: column;
  }
  
  .betslip {
    position: static;
    width: 100%;
    max-height: none;
  }
}