.football-matches-container {
    width: 600px;
    border: 1px solid #273cb3;
    margin-top: 5px;
    padding: 1rem;
}

.main-options-div {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #6faaf2;
}

.match-date p {
    color:  white;
    font-size: 20px;
}

.options-div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.options-div p {
    color: white;
}

.options-div-1 {
    display: flex;
    width: 155px;
    justify-content: space-around;

}


.options-div-2 {
    display: flex;
    width: 155px;
    justify-content: space-around;
}

.football-matches-container h2 {
    color: #273cb3;
}

.main-match-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6faaf2;
    padding: 1rem;
}

.main-match-cont-div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.match-kick-off {
    color: #273cb3;
}

.match-id {
    font-size: 10px;
    color: #6faaf2;
}

.match-div p {
    color: #d0d6f2;
}

.odd-main-container {
    display:  flex;
    gap: 1rem;
}

.odd-container-wins {
    display: flex;
    gap: 1px;
    border-radius: 5px;
    overflow-x: hidden;
}

.odd-container-wins button {
    padding: 12px;
    border: none;
    overflow: hidden;
    text-align: center;
    background-color: #273cb3;
    color: white;
    font-family:'Nunito', sans-serif;
}

.odd-container-wins button:hover {
    background-color: #8ab6eb;
}

.odd-container-goals {
    display: flex;
    gap: 1px;
    border-radius: 5px;
    overflow-x: hidden;
}

.odd-container-goals span {
    width: 50px;
    border: none;
    overflow: hidden;
    text-align: center;
    background-color: #273cb3;
    color: white;
    font-family:'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.odd-container-goals button {
    padding: 12px;
    border: none;
    overflow: hidden;
    text-align: center;
    background-color: #273cb3;
    color: white;
    font-family:'Nunito', sans-serif;
}

.odd-container-goals button:hover {
    background-color: #8ab6eb;
}

.turn-blue {
    background-color:#8caee6 !important;
    color: white !important;
}

